@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --in-color: #a52a2a;
    --out-color: #790018;

    --tapete-width: 300px;
    --num-borders: 5;
}

html,
body {
    min-height: 100vh;
}

body,
input,
button {
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 18px;
    color: #EEE2DF;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;

    background: #B36A5E;
}

button {
    appearance: none;
    border: none;
    background: none;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Delicious Handrawn', cursive;
    font-weight: 400;
}

h1 {
    font-size: 3.5rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding: 1em;
    border-radius: 20px;
    background-color: #C89F9C;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.tapete-wrapper {
    aspect-ratio: 3/2;
    width: 400px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tapete {
    aspect-ratio: 3/2;
    max-width: var(--tapete-width);
    width: 100%;
    margin: 0 auto;
}

.border {
    border-radius: 15px;
    padding: calc(var(--tapete-width)/4 * (1/var(--num-borders)));
    height: 100%;
    width: 100%;
}

.border.in {
    background-color: var(--in-color);
}

.border.out {
    background-color: var(--out-color);
}

.tapete > .border {
    padding: 25px;
    --mask:
        linear-gradient(#000 0 0) 50%/calc(100% - 20px) calc(100% - 20px) no-repeat,
        radial-gradient(farthest-side, #000 98%, #0000) 0 0/25px 25px round;

    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.input-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

    width: 100%;
}

.input-wrapper > *{
    justify-content: space-evenly;
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-color {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.input-range{
    display: flex;
    flex-direction: column;
}

.range-wrapper {
    flex: 1;
    align-items: stretch;
}

.color-swap {
    align-self: center;
    background-image: url('images/swap-vertical-outline.svg');
    height: 28px;
    width: 28px;
}

.bttn {
    background-color: #B36A5E;
    color: #C89F9C;
    padding: .3em .6em;
    border-radius: 5px;
    transition: opacity .2s ease;
}

.bttn:hover {
    opacity: .75;
}


input[type='color'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    height: 30px;
    width: 30px;
    border: none;
    background: none;
}

input[type='color']::-webkit-color-swatch{
    width: inherit;
    height: inherit;
    border-radius: 5px;
    border: 2px solid white;
}

@media (max-width: 700px) {
    header {
        margin-top: 20px;
    }

    main {
        width: 100%;
        border-radius: 0;
        padding: 40px;
    }

    .input-wrapper {
        flex-direction: column-reverse;
    }

    .input-color.out {
        flex-direction: row;
    }

    .color-wrapper {
        flex-direction: row;
    }

    .color-swap {
        transform: rotate(90deg);
    }

    input[type='color'] {
        height: 50px;
        width: 50px;
    }
}